input {
  jdbc {
        jdbc_driver_library => "/Users/laserk/elastic/data/mysql-connector-java/mysql-connector-java-8.0.11.jar"
        jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
        jdbc_connection_string => "jdbc:mysql://localhost:3306/house"
        jdbc_user => "root"
        jdbc_password => "d2000"
        schedule => "* * * * *"
        statement => "SELECT * FROM community"
        use_column_value => true
        tracking_column_type => "timestamp"
        tracking_column => "validdate"
        last_run_metadata_path => "syncpoint_table"
        type => "community"
  }
  jdbc {
        jdbc_driver_library => "/Users/laserk/elastic/data/mysql-connector-java/mysql-connector-java-8.0.11.jar"
        jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
        jdbc_connection_string => "jdbc:mysql://localhost:3306/house"
        jdbc_user => "root"
        jdbc_password => "d2000"
        schedule => "* * * * *"
        statement => "SELECT h.* ,c.bizcircle , c.district,c.tagList from  house.houseinfo as h left join house.community as c on h.community = c.title"
        use_column_value => true
        tracking_column_type => "timestamp"
        tracking_column => "validdate"
        last_run_metadata_path => "syncpoint_table"
        type => "houseinfo"
  }
    jdbc {
        jdbc_driver_library => "/Users/laserk/elastic/data/mysql-connector-java/mysql-connector-java-8.0.11.jar"
        jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
        jdbc_connection_string => "jdbc:mysql://localhost:3306/house"
        jdbc_user => "root"
        jdbc_password => "d2000"
        schedule => "* * * * *"
        statement => "SELECT * FROM hisprice"
        use_column_value => true
        tracking_column_type => "timestamp"
        tracking_column => "date"
        last_run_metadata_path => "syncpoint_table"
        type => "hisprice"
  }
    jdbc {
        jdbc_driver_library => "/Users/laserk/elastic/data/mysql-connector-java/mysql-connector-java-8.0.11.jar"
        jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
        jdbc_connection_string => "jdbc:mysql://localhost:3306/house"
        jdbc_user => "root"
        jdbc_password => "d2000"
        schedule => "* * * * *"
        statement => "SELECT r.* ,c.bizcircle , c.district,c.tagList from  house.rentinfo as r left join house.community as c on r.region = c.title"
        use_column_value => true
        tracking_column_type => "timestamp"
        tracking_column => "updatedate"
        last_run_metadata_path => "syncpoint_table"
        type => "rentinfo"
  }
    jdbc {
        jdbc_driver_library => "/Users/laserk/elastic/data/mysql-connector-java/mysql-connector-java-8.0.11.jar"
        jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
        jdbc_connection_string => "jdbc:mysql://localhost:3306/house"
        jdbc_user => "root"
        jdbc_password => "d2000"
        schedule => "* * * * *"
        statement => "SELECT s.* ,c.bizcircle , c.district,c.tagList from  house.sellinfo as s left join house.community as c on s.community = c.title"
        use_column_value => true
        tracking_column_type => "timestamp"
        tracking_column => "updatedate"
        last_run_metadata_path => "syncpoint_table"
        type => "sellinfo"
  }
    jdbc {
        jdbc_driver_library => "/Users/laserk/elastic/data/mysql-connector-java/mysql-connector-java-8.0.11.jar"
        jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
        jdbc_connection_string => "jdbc:mysql://localhost:3306/house"
        jdbc_user => "root"
        jdbc_password => "d2000"
        schedule => "* * * * *"
        statement => "SELECT s.* ,c.bizcircle , c.district,c.tagList from  house.monthSellinfo as s left join house.community as c on s.community = c.title"
        use_column_value => true
        tracking_column_type => "timestamp"
        tracking_column => "updatedate"
        last_run_metadata_path => "syncpoint_table"
        type => "monthsellinfo"
  }
}
filter {
    if [type] == "community" {
        mutate {convert => ["onsale", "integer"]} 
        mutate {convert => ["onrent", "integer"]} 
        mutate {rename => { "title" => "community" }}
    }
    if [type] == "houseinfo" {
        mutate {convert => ["totalprice", "integer"]} 
        mutate {convert => ["unitprice", "integer"]} 
    }
    if [type] == "hisprice" {
        mutate {convert => ["totalprice", "integer"]} 
    }
    if [type] == "rentinfo" {
        mutate {convert => ["price", "integer"]} 
        mutate {rename => { "region" => "community" }}

    }
    if [type] == "sellinfo" {

    }
    if [type] == "monthsellinfo" {

    }
    date {
        match => ["time", "ISO8601"]
    }
}
output {
    if [type] == "community" {
        elasticsearch {
            hosts => ["localhost:9200"]
            action => "index"
            index => "%{type}" 
            document_id => "%{id}"
        }
    }
    if [type] == "houseinfo" {
        elasticsearch {
            hosts => ["localhost:9200"]
            action => "index"
            index => "%{type}" 
            document_id => "%{houseid}"
        }
    }
    if [type] == "hisprice" {
        elasticsearch {
            hosts => ["localhost:9200"]
            action => "index"
            index => "%{type}"
            document_id => "%{houseid}"
        }
    }
    if [type] == "rentinfo" {
        elasticsearch {
            hosts => ["localhost:9200"]
            action => "index"
            index => "%{type}" 
            document_id => "%{houseid}"
        }
    }
    if [type] == "sellinfo" {
        elasticsearch {
            hosts => ["localhost:9200"]
            action => "index"
            index => "%{type}" 
            document_id => "%{houseid}"
        }
    }
    if [type] == "monthsellinfo" {
        elasticsearch {
            hosts => ["localhost:9200"]
            action => "index"
            index => "%{type}" 
            document_id => "%{houseid}"
        }
    }
}