input {
    file {
        path => "./elastic/data/community-csv.csv"
        start_position => beginning

    }
}
filter {
    csv {
        columns => [
          "id","title","link","district","bizcircle","tagList","onsale","onrent","year","housetype","cost","service","company","building_num","house_num","price","validdate"
        ]
        separator => ","
    }
    date {
        match => ["time", "ISO8601"]
    }
    mutate {convert => ["onsale", "integer"]} 
    mutate {convert => ["onrent", "integer"]} 
}
output {
    elasticsearch {
        hosts => ["localhost:9200"]
        action => "index"
        index => "community-csv"
    }
    stdout { codec => rubydebug }
}