input {
  jdbc {
    jdbc_driver_library => "/Users/laserk/elastic/data/mysql-connector-java/mysql-connector-java-8.0.11.jar"
    jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
    jdbc_connection_string => "jdbc:mysql://localhost:3306/lottery"
    jdbc_user => "root"
    jdbc_password => ""****""
    schedule => "* * * * *"
    statement => "SELECT * FROM doubleball"
    use_column_value => true
    tracking_column_type => "timestamp"
    tracking_column => "generate_time"
    last_run_metadata_path => "syncpoint_table"
    type => "doubleball"
  }
}
filter {
    date {
        match => ["time", "ISO8601"]
    }
    mutate {convert => ["red1", "integer"]} 
    mutate {convert => ["red2", "integer"]} 
    mutate {convert => ["red3", "integer"]} 
    mutate {convert => ["red4", "integer"]} 
    mutate {convert => ["red5", "integer"]} 
    mutate {convert => ["red6", "integer"]} 
    mutate {convert => ["blue", "integer"]}
}
output {
    if [type] == "doubleball" {
        elasticsearch {
            hosts => ["localhost:9200"]
            action => "index"
            index => "%{type}" 
            document_id => "%{identifier}"
        }
    }
}