input {
  jdbc {
    jdbc_driver_library => "/Users/laserk/elastic/data/mysql-connector-java/mysql-connector-java-8.0.11.jar"
    jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
    jdbc_connection_string => "jdbc:mysql://localhost:3306/house"
    jdbc_user => "root"
    jdbc_password => "pass"
    schedule => "* * * * *"
    statement => "SELECT * FROM houseinfo"
    use_column_value => true
    tracking_column_type => "timestamp"
    tracking_column => "validdate"
    last_run_metadata_path => "syncpoint_table"
    type => "houseinfo"
  }
}
filter {
    mutate {convert => ["totalprice", "integer"]} 
    mutate {convert => ["unitprice", "integer"]} 
    date {
        match => ["time", "ISO8601"]
    }
}
output {
    if [type] == "houseinfo" {
        elasticsearch {
            hosts => ["localhost:9200"]
            action => "index"
            index => "houseinfo" 
            document_id => "%{houseid}"
        }
    }
}